.lefttext {
  text-align: left;
}

.centertext {
  text-align: center;
}

.righttext {
  text-align: right;
}

.justifytext {
  text-align: justify;
}

h1 {
  color: black;
  font-family: impact;
  font-size: 120px;
}

a {
  font-family: impact;
  font-size: 20px;
}

a:link, a:visited {
    background-color: white;
    border: 2px solid blue;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: blue;
}

a:active {
  background-color: darkblue;
}

body, html {
    height: 100%;
    margin: 0px;
}

.bg {
    background-image: url("background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
