.bg {
  background-image: url("background.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
  height: 100%;
  margin: 0 auto;
}

body {
  padding: 0;
  margin: 0;
}

.centertext {
  text-align: center;
}

h1 {
  color: black;
  font-family: impact;
  font-size: 150px;
  margin: 0;
}

a {
  font-family: impact;
  font-size: 25px;
}

a:link, a:visited {
  background-color: white;
  border: 2px solid blue;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: blue;
}

a:active {
  background-color: darkblue;
}

p {
  font-size: 20px;
  font-family: helvetica;
}

.center {
  height: 90px;
  line-height: 90px;
}
